/* client/src/index.css */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
  background: #111827;
  z-index: 1;
}

/* Optional: Make popups look cool and dark */
.leaflet-popup-content-wrapper {
  background: rgba(0, 0, 0, 0.9);
  color: #4ade80;
  /* Matrix Green text */
  border: 1px solid #4ade80;
}

.leaflet-popup-tip {
  background: rgba(0, 0, 0, 0.9);
}